.plant-heading {
    padding: 10px 10px 10px 10px;
}

.map-label {
    color: #F6FA70;

    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.infer {
    color: #00FF00;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 10px;
}

.infer2 {
    color: #FFDEB9;
    font-size: 25px;
    font-weight: bold;
    /* margin-bottom: 10px; */
    margin-top: 10px;
}

@media screen and (max-width: 960px) {
    .climate-heading {
        justify-content: center;
        margin-top: 300px;
        align-items: center;
    }

    .map-label {
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .infer {
        justify-content: center;
        text-align: center;
        align-items: center;  
        font-size: 18px;
        width: 90%;
    }

    .infer2 {
        width: 95%;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 15px;
    }

  }