@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'leaflet/dist/leaflet.css';

html, body, #root {
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.login {
  background-image: url("/public/Sprinkle.svg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
}

.perks-card {
  background-color: #f9f9f966;
  border: 1px solid #ededed;
  border-radius: 20px;
  transition: .3s;
}

.badge, .hero-badge {
  align-items: center;
  background-color: #fafafab2;
  border: 1px solid #ececec;
  border-radius: 2rem;
  display: flex;
  justify-content: space-between;
}
